*~
*.pyc
*.txt
*.csv
*.vcf
*.gz
*.tbi
*.bam
*.bai
GNOS_upload/*
combined/*
csvs/*
evolution/*
fastqcs/*
fastqs/*
germ-indel-realigned/*
germline-calls/*
igv_batch/*
ingest-bams/*
jstemp/*
logs/*
pancan-sample-names.txt
pcawg1-sample-names.txt
plots/*
readcounts/*
reference
remappedbams/*
